.game-section{
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    position: relative;
    overflow: hidden;
}

.cards-container{
    /* position: absolute; */
    /* left: 50%; */
    /* display: flex; */
    /* gap: .5rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.card{
    position:absolute;
    aspect-ratio: 9/16;
    max-width: 25rem; 
    max-height: 75vh;
    width: 100%;
    background-color: rgb(121, 121, 121);
    transition-property: transform, opacity, filter, z-index;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
    padding: 1rem;
    border-radius: .75rem;
    will-change: transform, opacity, filter;
}

.current{
    z-index: 7;
    opacity: 1;
}

.next{
    opacity: .8;
    z-index: 6;
    -webkit-transform: translate(50%, 3%) rotate(5deg) scale(.8);
            transform: translate(50%, 3%) rotate(5deg) scale(.8);
}

.prev{
    opacity: .5;
    z-index: 6;
            transform: translate(-50%, 3%) rotate(-7deg) scale(.8);
    -webkit-transform: translate(-50%, 3%) rotate(-7deg) scale(.8);
}

.hidden{
    opacity: 0;
    z-index: 5;
            transform: translate(90%, 3%) rotate(5deg) scale(.6);
    -webkit-transform: translate(90%, 3%) rotate(5deg) scale(.6);
}

.hidden-after{  
    opacity: 0;
    -webkit-transform: translateX(-90%) rotate(-8deg) scale(.6);
            transform: translateX(-90%) rotate(-8deg) scale(.6);
}

.card-switch-btn{
    position: absolute;
    top: 50%;
    font-size: clamp(1.25rem,5vw,1.5rem);
    opacity: .3;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.left{
    left: 3%;
}

.right{
    right: 3%;
}

.card-switch-btn:hover{
    opacity: 1;

}