@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --navbar-height: 4rem;
  --section-height: calc(100vh - (var(--navbar-height)));
  --bg-main:rgb(45, 20, 44);
  --bg-secondary: rgb(81, 2, 50);
  --dark-pink: rgb(105, 54, 89, .7);
  --bg-color: linear-gradient(0deg, rgba(81,10,50,1) 0%, rgba(45,20,44,1) 35%);
  --blueish:rgb(158, 158, 158);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

ol,
ul {
  list-style: none;
}

input {
  min-width: none;
  max-width: none;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}

.mh{
  min-height: var(--section-height);
}